@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --preferslight, cupcake;
}
@import "@fontsource/inter/400.css"; 
@import "@fontsource/inter/500.css"; 
@import "@fontsource/inter/600.css"; 
@import "@fontsource/inter/700.css"; 
body{
  font-family: 'Inter', sans-serif;
}